### (3) list (71page)

- [  ] 사용
- 임의의 객체를 순차적으로 저장하는 집합 자료형(Sequence Data)
- 인덱스 사용 가능
- mutable ***

In [11]:
# a = 10
# b = 11
# c = 12

a, b, c = 10, 11, 12

d = [10, 11, 12]

print(type(a), type(d))
print("a는", a)
print("d는", d)
print(d[0], d[1], d[2])

e = ["jimin", 178, 3.14, True]
print(e)
print(e[0])

<class 'int'> <class 'list'>
a는 10
d는 [10, 11, 12]
10 11 12
['jimin', 178, 3.14, True]
jimin

In [18]:
##### indexing

a = [1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
print(a)
print(a[-1])
print(a[-1][0])
print(a[5][-3])

[1, 2, 3, '가', 3.14, ['a', 'b', 'c']]
['a', 'b', 'c']
a
a

In [24]:
##### 복사(얕은 복사, 깊은 복사)

a = [1, 2, 3, 4, 5]

# 주소 복사 : 얕은 복사
b = a
print(b)

b[0] = 10
print(b)
print(a)

print("--------------------------------------")

a = [1, 2, 3, 4, 5]

# 값 복사 : 깊은 복사`
# b = a[0:5]
b = a[:]
print(b)

b[0] = 10
print(b)
print(a) # 안 바뀜

[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
--------------------------------------
[1, 2, 3, 4, 5]
[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [25]:
##### list 생성

a = []
a = list()

print(type(a))

<class 'list'>

In [30]:
##### 각 자료형 함수

a = '10'
print(int(a), type(int(a)))
print(str(a), type(str(a)))
print(float(a), type(float(a)))
print(bool(a), type(bool(a)))

print(list(a), type(list(a)))
print(list([a]), type(list([a])))

10 <class 'int'>
10 <class 'str'>
10.0 <class 'float'>
True <class 'bool'>
['1', '0'] <class 'list'>
['10'] <class 'list'>

In [38]:
##### list 초기화 : range()

a = [1, 2, 3]
print(a)

a = list([1, 2, 3])
print(a)

# [0,1,2,3,4,5,6,7,8,9]
a = list(range(0, 10, 1))
print(a)
a = list(range(0, 10))
print(a)
a = list(range(10))
print(a)

a = list(range(1, 10))
print(a)

# 5~11
print(list(range(5, 12)))

# -4~12
print(list(range(-4, 13)))

# 10 ~ 1
print(list(range(10, 0, -1)))

[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[5, 6, 7, 8, 9, 10, 11]
[-4, -3, -2, -1, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [45]:
##### 연산 가능

a = [1, 2, 3]
b = [4, 5, 6]

c = a + b
print(c)

print(a[1] + b[1])
# print(a[1] + 'hi')
print(str(a[1]) + 'hi')
print(a[1], 'hi')

[1, 2, 3, 4, 5, 6]
7
2hi
2 hi

In [54]:
##### 추가하기 : insert(), append(), extend()
###### insert()는 원하는 위치, append()와 extend()는 마지막 위치에 추가
###### append는 하나씩 처리할 때 유리, extend는 여러개가 각각 들어감

a = [1, 2, 3]
print(a)

a.insert(0, 100)
print(a)

a.append(4)
print(a)

# 인자에 대하여 순서대로 반복문 실행
a.extend('apple')
print(a)

a.extend([10, 20, 30])
print(a)

a.append([10, 20, 30])
print(a)

a.extend([5])
print(a)

[1, 2, 3]
[100, 1, 2, 3]
[100, 1, 2, 3, 4]
[100, 1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e']
[100, 1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e', 10, 20, 30]
[100, 1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e', 10, 20, 30, [10, 20, 30]]
[100, 1, 2, 3, 4, 'a', 'p', 'p', 'l', 'e', 10, 20, 30, [10, 20, 30], 5]

In [64]:
##### 정렬 기능

a = [1, 4, 3, 2]
print(a)

a.sort() # 원본을 정렬
print(a)

a = [1, 4, 3, 2]
print(sorted(a)) # 원본이 아닌 복사본을 정렬
print(a)

a.reverse()
print(a)

[1, 4, 3, 2]
[1, 2, 3, 4]
[1, 2, 3, 4]
[1, 4, 3, 2]
[2, 3, 4, 1]

In [69]:
##### 검색 기능 : index()

a = [1, 2, 3, 4, 5, "홍길동", "111-111"]

print(a.index(4))
print(a.index("홍길동"))
# print(a.index(100))

print(5 in a)
print("홍길동" in a)
print(100 in a)

3
5
True
True
False

In [81]:
##### 제거

# 범위를 지정해서 제거
a = [1,2,3,1,2,3]
a[1:3] = [] # [2, 3] 제거
print(a)

# 값을 찾아서 삭제
a = [1,2,3,4,5,6, 3]
a.remove(3) # 첫번째 3 찾아서 제거
print(a)

# 위치를 찾아서 삭제
a = [1,2,3,1,2,3]
del a[4]
print(a)

print("-----------------------------------------------")

a = [1,2,3,1,2,3]
a[:] = []
print(a)

a = [1,2,3,1,2,3]
del a
# print(a) # 변수 자체를 삭제하여 오류 발생

print("-----------------------------------------------")

# stack : 데이터 임시 저장소(Last In First Out), push와 pop으로 이루어진 알고리즘, pop은 데이터 삭제를 의미
a = [1, 2, 3]
b=a.pop()
print(a) # [1, 2]
print(b)

[1, 1, 2, 3]
[1, 2, 4, 5, 6, 3]
[1, 2, 3, 1, 3]
-----------------------------------------------
[]
-----------------------------------------------
[1, 2]
3

### (4) tuple

- ( )
- immutable

In [89]:
a = ('a', 'b', 'c', 'd', 'b')
print(a)
print(type(a))

print(len(a))
print(a.index('c'))
print(a.count('b')) # list도 가능

print("-------------------------------------")

# a[1] = 10    # 'tuple' object does not support item assginment

b = list(a)    # 얕은 복사
b[1] = 10
print(b)

c = tuple(b)
print(c)

('a', 'b', 'c', 'd', 'b')
<class 'tuple'>
5
2
2
-------------------------------------
['a', 10, 'c', 'd', 'b']
('a', 10, 'c', 'd', 'b')

In [100]:
##### packing과 unpacking 자동 처리

# packing
a = 10, 20, 30 # 자동 패킹이 tuple로 되는 이유 : python에서 지향하는 immutable 자료형이기 때문
print(a)

a1 = a[0] 
a2 = a[1]
a3 = a[2]
print(a1, a2, a3)

# unpacking
a1, a2, a3 = a
print(a1, a2, a3)

(10, 20, 30)
10 20 30
10 20 30

### (5) dict(dictionary) : json[{키:값, 키:값}, {키:값, 키:값}]과 유사

- 순서가 없음(정렬 불가, index 없음)
- {키 : 값, ...}
- 검색 용도
- mutable(tuple 제외 집합 자료형은 mutable)

In [2]:
a = {"name":"홍길동", "tel":"1111-1111", "age":25}
print(a)
print(type(a))

{'name': '홍길동', 'tel': '1111-1111', 'age': 25}
<class 'dict'>

In [3]:
print(a['name'], a['tel'], a['age'])
a['name'], a['tel'], a['age']

홍길동 1111-1111 25

('홍길동', '1111-1111', 25)

In [4]:
print(a.keys())
print(a.values())
print(a.items())

dict_keys(['name', 'tel', 'age'])
dict_values(['홍길동', '1111-1111', 25])
dict_items([('name', '홍길동'), ('tel', '1111-1111'), ('age', 25)])

In [5]:
# 반복문을 이용한 자동화를 구현
b = list(a.items())
print(b)
print(b[0][1])

[('name', '홍길동'), ('tel', '1111-1111'), ('age', 25)]
홍길동

In [6]:
##### mutable, 수정
a['name'] = '이순신'
print(a)

{'name': '이순신', 'tel': '1111-1111', 'age': 25}

In [7]:
##### 추가
a['hobby'] = ['낚시', '독서', '여행']
a

{'name': '이순신', 'tel': '1111-1111', 'age': 25, 'hobby': ['낚시', '독서', '여행']}

In [8]:
##### 삭제
del a['tel']
a

{'name': '이순신', 'age': 25, 'hobby': ['낚시', '독서', '여행']}

In [9]:
a.clear()
print(a)

{}

In [17]:
##### 데이터 가져오기 : get("키", default)
###### get(키, 디폴트값) - 키의 값을 리턴한다. 없으면 디폴트값을 리턴 (디폴트값이 없으면 무시)

a = {"name":"홍길동", "tel":"1111-1111", "age":25}

print(a["name"])
print(a.get("name"))

# print(a["hobby"])
print(a.get("hobby","독서"))
print(a)

홍길동
홍길동
독서
{'name': '홍길동', 'tel': '1111-1111', 'age': 25}

### (6) set
- {}
- 순서가 없다
- 중복 불가 : 중복 제거 기능이 핵심, 이 외에는 사용 빈도가 낮음

In [20]:
a = {1, 2, 3, 4, 2, 3}
print(a)
print(type(a))

{1, 2, 3, 4}
<class 'set'>

In [24]:
# print(a[0])
print(list(a)[0])

1

In [33]:
##### 집합 연산
s1 = {1, 2, 3, 4, 5, 6}
s2 = {4, 5, 6, 7, 8, 9}

# 합집합
print(s1.union(s2))

# 교집합
print(s1.intersection(s2))

# 차집합
print(s1.difference(s2))

{1, 2, 3, 4, 5, 6, 7, 8, 9}
{4, 5, 6}
{1, 2, 3}

In [35]:
##### CRUD

# 한 개 추가
s1.add(9)
print(s1)

# 여러개 추가
s1.update({7, 8})
print(s1)

# 삭제
s1.remove(9)
print(s1)

s1.discard(8)
print(s1)

# remove discard
s1.discard(10)
# s1.remove(10) # 없는 데이터 삭제 시 오류 발생

{1, 2, 3, 4, 5, 6, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 9, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7}

KeyError: 10

In [37]:
##### quiz 리스트의 중복을 제거하기
data = [1, 2, 3, 4, 4, 5, 2]
dataSet = set(data)
print(list(dataSet)) # 리스트 형태로 돌려놓기!!

[1, 2, 3, 4, 5]

## 4. Operator

    1) 산술 연산자(증감 연산자 없음)
        * / + - % // ** 
        
    2) 비교 연산자
        > < >= <= == !=
        
    3) 논리 연산자
        and or not(toggle)
        
    4) 대입(치환) 연산자
        = += -= /= *=
        
    5) 포함 여부 연산자
        in not in
    
    6) 비트
        &, |, ^(XOR, 서로 다른 값이 들어왔을 때 참), ~, >>, <<, ...
        
          0 0 0 0 1 0 1 0
        & 0 0 0 0 0 1 0 1
        ------------------
          0 0 0 0 0 0 0 0
          
          1 0 0 1 1 1 0 0 (original data)
        ^ 1 1 0 0 0 1 0 1 (key)
        ------------------
          0 1 0 1 1 0 0 1 (encoding)
          
          0 1 0 1 1 0 0 1 
        ^ 1 1 0 0 0 1 0 1 
        ------------------
          1 0 0 1 1 1 0 0 (decoding)

In [46]:
10 & 5

original = 648723
key = 387641723

encode = original ^ key
print('암호화 : ', encode)

decode = encode ^ key
print('복호화 : ', decode)

암호화 :  387127144
복호화 :  648723