In [1]:
# 1. else if 조건문의 결과 : shirt 나올듯

a = "Life is too short, you need python"

if "wife" in a : print("wife")
elif "python" in a and "you" not in a : print("python")
elif "shirt" not in a : print("shirt")
elif "need" in a : print("need")
else : print("none")

shirt

In [7]:
# 2. while문 이용, 1~1000까지의 자연 수 중 3의 배수의 합 구하기
cnt = 1
result = 0
while cnt <= 1000 :
    if cnt%3 == 0 :
        result += cnt
    cnt += 1
print(result)

166833

In [12]:
# 3. while문, 별 표시
i=0
while True:
    i += 1
    print("*" * i)
    if i == 5:break;

*
**
***
****
*****

In [13]:
# 4. for문 사용 1~100 출력
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [14]:
# 5. for문 이용 평균 구하기
A = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
sum = 0
for score in A:
    sum += score

avg = sum/len(A)
print(avg)

79.0

In [17]:
# 6. 리스트 중 홀수에만 2를 곱하여 저장하는 코드를 리스트 내포 사용해 표현하기
numbers = [1, 2, 3, 4, 5]

result = []
for n in numbers:
    if n%2 == 1:
        result.append(n*2)
print(result)

[2, 6, 10]

In [18]:
result = [num*2 for num in numbers if num%2 == 1]
print(result)

[2, 6, 10]

In [22]:
# 리스트 내포
a = ['가','나','다','라','마','바']
b = ['1','2','3','4','5','6']
result = [x+y for x in b for y in a] # 먼저 위치한 for문이 외부, 다음에 위치한 for문이 내부 반복
print(result)

['1가', '1나', '1다', '1라', '1마', '1바', '2가', '2나', '2다', '2라', '2마', '2바', '3가', '3나', '3다', '3라', '3마', '3바', '4가', '4나', '4다', '4라', '4마', '4바', '5가', '5나', '5다', '5라', '5마', '5바', '6가', '6나', '6다', '6라', '6마', '6바']