In [4]:
# 1. 홍길동의 평균 점수 구하기
kor = 80
eng = 75
math = 55
sum = kor + eng + math
avg = sum/3
print(avg)

grade = [80, 75, 55]
sum = grade[0] + grade[1] + grade[2]
avg = sum/len(grade)
print(avg)

70.0
70.0

In [5]:
# 2. 자연수 13이 홀수인지 짝수인지 판별할 수 있는 방법
num = 13
print(bool(13%2))

True

In [10]:
# 3. 홍길동 씨 주민번호 연월일, 숫자 나눠서
pin = '881120-1068234'
yyyymmdd = pin[:6]
num = pin[7:]
print(yyyymmdd)
print(num)

881120
1068234

In [12]:
# 4. 성별 나타내는 숫자만 출력
pin.index('-') # 6
print(pin[7])

1

In [13]:
# 5. a:b:c:d의 :을 #으로
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

In [16]:
# 6. [1, 3, 5, 4, 2]를 내림차순 정렬
a = [1, 3, 5, 4, 2]
a.sort()
a.reverse()
print(a)

[5, 4, 3, 2, 1]

In [49]:
# 7. ['Life', 'is', 'too', 'short']를 문자열로 만들기
a = ['Life', 'is', 'too', 'short']
result = a[0] + " " + a[1] + " " + a[2] + " " + a[3]
print(result)

result = " ".join(a)
print(result)

Life is too short
Life is too short

In [48]:
# 8. (1, 2, 3)에 4 추가
a = (1, 2, 3)
a = list(a)
a.append(4)
print(tuple(a))

a = (1, 2, 3)
a += (4,)
print(a)

(1, 2, 3, 4)
(1, 2, 3, 4)

In [46]:
# 9. a = dict()
#    a
#    {}
# 오류 나는 경우 고르기
## 2번 a[('a', )] = 'python' 데이터는 여럿이어도 되지만 키값은 하나만 가능 >> 틀림
## 3번 a[[1]] = 'python' 키값은 변하는 값을 사용할 수 없음
a = dict()
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [45]:
# 10. 딕셔너리에서 'B'에 해당되는 값 추출
a = {'A':90, 'B':80, 'C':70}
result = a['B']
print(a)
print(result)

a = {'A':90, 'B':80, 'C':70}
result = a.pop('B')
print(a)
print(result)

{'A': 90, 'B': 80, 'C': 70}
80
{'A': 90, 'C': 70}
80

In [6]:
# 11. 리스트에서 중복 숫자 제거
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
aSet = set(a)
b = list(aSet)
print(b)

c = b.pop(b[0])
print(c) # 2

[1, 2, 3, 4, 5]
2

In [44]:
# 12. 두 변수 동시 선언 후 하나의 요솟값을 변경하기
# 같은 주소이기 때문에 b도 바뀜
a = b = [1,2,3]
a[1] = 4
print(b)

[1, 4, 3]